@import "tailwindcss";
@keyframes subtitle {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-subtitle {
  animation: subtitle 1.1s cubic-bezier(0.22,1,0.36,1);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
